-- phpMyAdmin SQL Dump
-- version 5.2.1
-- https://www.phpmyadmin.net/
--
-- Servidor: 127.0.0.1
-- Tiempo de generación: 27-04-2026 a las 14:52:21
-- Versión del servidor: 10.4.32-MariaDB
-- Versión de PHP: 8.2.12

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
START TRANSACTION;
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Base de datos: `ferreteria_jamarraya`
--
CREATE DATABASE IF NOT EXISTS `ferreteria_jamarraya` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
USE `ferreteria_jamarraya`;

-- --------------------------------------------------------

--
-- Estructura de tabla para la tabla `alquileres`
--

DROP TABLE IF EXISTS `alquileres`;
CREATE TABLE IF NOT EXISTS `alquileres` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_cliente` int(11) NOT NULL,
  `id_maquinaria` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `monto` decimal(10,2) NOT NULL CHECK (`monto` >= 0),
  `estado` enum('activo','finalizado','vencido') NOT NULL DEFAULT 'activo',
  `fecha_registro` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_alquileres_maquinaria` (`id_maquinaria`),
  KEY `fk_alquileres_usuario` (`id_usuario`),
  KEY `idx_alquileres_estado` (`estado`),
  KEY `idx_alquileres_fecha_fin` (`fecha_fin`),
  KEY `idx_alquileres_cliente` (`id_cliente`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Volcado de datos para la tabla `alquileres`
--


--
-- Disparadores `alquileres`
--
DROP TRIGGER IF EXISTS `trg_alerta_alquiler_insert`;
DELIMITER $$
CREATE TRIGGER `trg_alerta_alquiler_insert` AFTER INSERT ON `alquileres` FOR EACH ROW BEGIN
    DECLARE v_cliente VARCHAR(100) DEFAULT '';
    DECLARE v_maquinaria VARCHAR(100) DEFAULT '';

    SELECT COALESCE(nombre, '') INTO v_cliente
    FROM clientes
    WHERE id = NEW.id_cliente
    LIMIT 1;

    SELECT COALESCE(nombre, '') INTO v_maquinaria
    FROM maquinaria
    WHERE id = NEW.id_maquinaria
    LIMIT 1;

    IF NEW.estado = 'activo' AND DATEDIFF(NEW.fecha_fin, CURDATE()) BETWEEN 0 AND 2 THEN
        INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
        SELECT NULL,
               'ALERTA_ALQUILER_POR_VENCER',
               'alquileres',
               NEW.id,
               JSON_OBJECT(
                   'cliente', v_cliente,
                   'maquinaria', v_maquinaria,
                   'fecha_fin', NEW.fecha_fin,
                   'color', 'amarillo',
                   'accion_sugerida', 'Contactar cliente para devolucion'
               ),
               NULL
        WHERE NOT EXISTS (
            SELECT 1
            FROM logs l
            WHERE l.accion = 'ALERTA_ALQUILER_POR_VENCER'
              AND l.id_registro = NEW.id
              AND DATE(l.fecha) = CURDATE()
        );
    END IF;

    IF NEW.estado = 'vencido' THEN
        INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
        SELECT NULL,
               'ALERTA_ALQUILER_VENCIDO',
               'alquileres',
               NEW.id,
               JSON_OBJECT(
                   'cliente', v_cliente,
                   'maquinaria', v_maquinaria,
                   'fecha_fin', NEW.fecha_fin,
                   'color', 'rojo',
                   'accion_sugerida', 'Alquiler vencido - Contactar urgente'
               ),
               NULL
        WHERE NOT EXISTS (
            SELECT 1
            FROM logs l
            WHERE l.accion = 'ALERTA_ALQUILER_VENCIDO'
              AND l.id_registro = NEW.id
              AND DATE(l.fecha) = CURDATE()
        );
    END IF;
END
$$
DELIMITER ;
DROP TRIGGER IF EXISTS `trg_alerta_alquiler_update`;
DELIMITER $$
CREATE TRIGGER `trg_alerta_alquiler_update` AFTER UPDATE ON `alquileres` FOR EACH ROW BEGIN
    DECLARE v_cliente VARCHAR(100) DEFAULT '';
    DECLARE v_maquinaria VARCHAR(100) DEFAULT '';

    SELECT COALESCE(nombre, '') INTO v_cliente
    FROM clientes
    WHERE id = NEW.id_cliente
    LIMIT 1;

    SELECT COALESCE(nombre, '') INTO v_maquinaria
    FROM maquinaria
    WHERE id = NEW.id_maquinaria
    LIMIT 1;

    IF NEW.estado = 'activo'
       AND DATEDIFF(NEW.fecha_fin, CURDATE()) BETWEEN 0 AND 2
       AND (
            OLD.estado <> NEW.estado
            OR OLD.fecha_fin <> NEW.fecha_fin
            OR OLD.id_cliente <> NEW.id_cliente
            OR OLD.id_maquinaria <> NEW.id_maquinaria
       ) THEN
        INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
        SELECT NULL,
               'ALERTA_ALQUILER_POR_VENCER',
               'alquileres',
               NEW.id,
               JSON_OBJECT(
                   'cliente', v_cliente,
                   'maquinaria', v_maquinaria,
                   'fecha_fin', NEW.fecha_fin,
                   'color', 'amarillo',
                   'accion_sugerida', 'Contactar cliente para devolucion'
               ),
               NULL
        WHERE NOT EXISTS (
            SELECT 1
            FROM logs l
            WHERE l.accion = 'ALERTA_ALQUILER_POR_VENCER'
              AND l.id_registro = NEW.id
              AND DATE(l.fecha) = CURDATE()
        );
    END IF;

    IF NEW.estado = 'vencido' AND OLD.estado <> 'vencido' THEN
        INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
        SELECT NULL,
               'ALERTA_ALQUILER_VENCIDO',
               'alquileres',
               NEW.id,
               JSON_OBJECT(
                   'cliente', v_cliente,
                   'maquinaria', v_maquinaria,
                   'fecha_fin', NEW.fecha_fin,
                   'color', 'rojo',
                   'accion_sugerida', 'Alquiler vencido - Contactar urgente'
               ),
               NULL
        WHERE NOT EXISTS (
            SELECT 1
            FROM logs l
            WHERE l.accion = 'ALERTA_ALQUILER_VENCIDO'
              AND l.id_registro = NEW.id
              AND DATE(l.fecha) = CURDATE()
        );
    END IF;
END
$$
DELIMITER ;
DROP TRIGGER IF EXISTS `trg_alquiler_estado_vencido_insert`;
DELIMITER $$
CREATE TRIGGER `trg_alquiler_estado_vencido_insert` BEFORE INSERT ON `alquileres` FOR EACH ROW BEGIN
    IF NEW.estado = 'activo' AND NEW.fecha_fin < CURDATE() THEN
        SET NEW.estado = 'vencido';
    END IF;
END
$$
DELIMITER ;
DROP TRIGGER IF EXISTS `trg_alquiler_estado_vencido_update`;
DELIMITER $$
CREATE TRIGGER `trg_alquiler_estado_vencido_update` BEFORE UPDATE ON `alquileres` FOR EACH ROW BEGIN
    IF NEW.estado = 'activo' AND NEW.fecha_fin < CURDATE() THEN
        SET NEW.estado = 'vencido';
    END IF;
END
$$
DELIMITER ;
DROP TRIGGER IF EXISTS `trg_maquinaria_alquilada`;
DELIMITER $$
CREATE TRIGGER `trg_maquinaria_alquilada` AFTER INSERT ON `alquileres` FOR EACH ROW BEGIN
    IF NEW.estado IN ('activo', 'vencido') THEN
        UPDATE maquinaria
        SET estado = 'alquilada'
        WHERE id = NEW.id_maquinaria;
    END IF;
END
$$
DELIMITER ;
DROP TRIGGER IF EXISTS `trg_maquinaria_devuelta`;
DELIMITER $$
CREATE TRIGGER `trg_maquinaria_devuelta` AFTER UPDATE ON `alquileres` FOR EACH ROW BEGIN
    IF NEW.estado = 'finalizado' AND OLD.estado <> 'finalizado' THEN
        UPDATE maquinaria
        SET estado = 'disponible'
        WHERE id = NEW.id_maquinaria;
    END IF;
END
$$
DELIMITER ;

-- --------------------------------------------------------

--
-- Estructura de tabla para la tabla `clientes`
--

DROP TABLE IF EXISTS `clientes`;
CREATE TABLE IF NOT EXISTS `clientes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) DEFAULT NULL,
  `nombre` varchar(100) NOT NULL,
  `identificacion` varchar(20) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_clientes_identificacion` (`identificacion`),
  KEY `fk_clientes_usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Volcado de datos para la tabla `clientes`
--


-- --------------------------------------------------------

--
-- Estructura de tabla para la tabla `detalle_venta`
--

DROP TABLE IF EXISTS `detalle_venta`;
CREATE TABLE IF NOT EXISTS `detalle_venta` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_venta` int(11) NOT NULL,
  `id_producto` int(11) NOT NULL,
  `cantidad` int(11) NOT NULL CHECK (`cantidad` > 0),
  `precio_unitario` decimal(10,2) NOT NULL CHECK (`precio_unitario` >= 0),
  `subtotal` decimal(12,2) NOT NULL CHECK (`subtotal` >= 0),
  PRIMARY KEY (`id`),
  KEY `fk_detalle_venta_venta` (`id_venta`),
  KEY `fk_detalle_venta_producto` (`id_producto`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Volcado de datos para la tabla `detalle_venta`
--


--
-- Disparadores `detalle_venta`
--
DROP TRIGGER IF EXISTS `trg_actualizar_total_venta`;
DELIMITER $$
CREATE TRIGGER `trg_actualizar_total_venta` AFTER INSERT ON `detalle_venta` FOR EACH ROW BEGIN
    UPDATE ventas
    SET total = (
        SELECT SUM(subtotal)
        FROM detalle_venta
        WHERE id_venta = NEW.id_venta
    )
    WHERE id = NEW.id_venta;
END
$$
DELIMITER ;
DROP TRIGGER IF EXISTS `trg_calcular_subtotal`;
DELIMITER $$
CREATE TRIGGER `trg_calcular_subtotal` BEFORE INSERT ON `detalle_venta` FOR EACH ROW BEGIN
    SET NEW.subtotal = NEW.cantidad * NEW.precio_unitario;
END
$$
DELIMITER ;
DROP TRIGGER IF EXISTS `trg_descontar_stock`;
DELIMITER $$
CREATE TRIGGER `trg_descontar_stock` AFTER INSERT ON `detalle_venta` FOR EACH ROW BEGIN
    UPDATE productos
    SET stock_actual = stock_actual - NEW.cantidad
    WHERE id = NEW.id_producto;
END
$$
DELIMITER ;

-- --------------------------------------------------------

--
-- Estructura de tabla para la tabla `logs`
--

DROP TABLE IF EXISTS `logs`;
CREATE TABLE IF NOT EXISTS `logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) DEFAULT NULL,
  `accion` varchar(100) NOT NULL,
  `tabla_afectada` varchar(50) DEFAULT NULL,
  `id_registro` int(11) DEFAULT NULL,
  `detalle` text DEFAULT NULL,
  `ip_origen` varchar(45) DEFAULT NULL,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_logs_usuario_fecha` (`id_usuario`,`fecha`)
) ENGINE=InnoDB AUTO_INCREMENT=132 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Volcado de datos para la tabla `logs`
--


-- --------------------------------------------------------

--
-- Estructura de tabla para la tabla `maquinaria`
--

DROP TABLE IF EXISTS `maquinaria`;
CREATE TABLE IF NOT EXISTS `maquinaria` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `estado` enum('disponible','alquilada','mantenimiento') NOT NULL DEFAULT 'disponible',
  `tarifa_alquiler` decimal(10,2) NOT NULL CHECK (`tarifa_alquiler` >= 0),
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `img` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Volcado de datos para la tabla `maquinaria`
--


-- --------------------------------------------------------

--
-- Estructura de tabla para la tabla `productos`
--

DROP TABLE IF EXISTS `productos`;
CREATE TABLE IF NOT EXISTS `productos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `nombre` varchar(150) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `categoria` varchar(80) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `stock_actual` int(11) NOT NULL DEFAULT 0,
  `stock_minimo` int(11) NOT NULL DEFAULT 0,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `img` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_productos_codigo` (`codigo`),
  KEY `idx_productos_stock` (`stock_actual`,`stock_minimo`),
  KEY `idx_productos_categoria` (`categoria`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Volcado de datos para la tabla `productos`
--


--
-- Disparadores `productos`
--
DROP TRIGGER IF EXISTS `trg_alerta_stock_bajo_insert`;
DELIMITER $$
CREATE TRIGGER `trg_alerta_stock_bajo_insert` AFTER INSERT ON `productos` FOR EACH ROW BEGIN
    IF NEW.activo = 1 AND NEW.stock_actual < NEW.stock_minimo THEN
        INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
        SELECT NULL,
               'ALERTA_STOCK_BAJO',
               'productos',
               NEW.id,
               JSON_OBJECT(
                   'nombre', NEW.nombre,
                   'stock_actual', NEW.stock_actual,
                   'stock_minimo', NEW.stock_minimo,
                   'color', 'rojo',
                   'accion_sugerida', 'Reabastecer producto'
               ),
               NULL
        WHERE NOT EXISTS (
            SELECT 1
            FROM logs l
            WHERE l.accion = 'ALERTA_STOCK_BAJO'
              AND l.id_registro = NEW.id
              AND DATE(l.fecha) = CURDATE()
        );
    END IF;
END
$$
DELIMITER ;
DROP TRIGGER IF EXISTS `trg_alerta_stock_bajo_update`;
DELIMITER $$
CREATE TRIGGER `trg_alerta_stock_bajo_update` AFTER UPDATE ON `productos` FOR EACH ROW BEGIN
    IF NEW.activo = 1
       AND NEW.stock_actual < NEW.stock_minimo
       AND (
            OLD.stock_actual >= OLD.stock_minimo
            OR OLD.stock_minimo <> NEW.stock_minimo
            OR OLD.activo <> NEW.activo
       ) THEN
        INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
        SELECT NULL,
               'ALERTA_STOCK_BAJO',
               'productos',
               NEW.id,
               JSON_OBJECT(
                   'nombre', NEW.nombre,
                   'stock_actual', NEW.stock_actual,
                   'stock_minimo', NEW.stock_minimo,
                   'color', 'rojo',
                   'accion_sugerida', 'Reabastecer producto'
               ),
               NULL
        WHERE NOT EXISTS (
            SELECT 1
            FROM logs l
            WHERE l.accion = 'ALERTA_STOCK_BAJO'
              AND l.id_registro = NEW.id
              AND DATE(l.fecha) = CURDATE()
        );
    END IF;
END
$$
DELIMITER ;

-- --------------------------------------------------------

--
-- Estructura de tabla para la tabla `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
CREATE TABLE IF NOT EXISTS `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `contrasena_hash` varchar(255) NOT NULL,
  `rol` enum('admin','empleado','cliente') NOT NULL DEFAULT 'cliente',
  `fecha_creacion` datetime NOT NULL DEFAULT current_timestamp(),
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_usuarios_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Volcado de datos para la tabla `usuarios`
--


-- --------------------------------------------------------

--
-- Estructura de tabla para la tabla `ventas`
--

DROP TABLE IF EXISTS `ventas`;
CREATE TABLE IF NOT EXISTS `ventas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_cliente` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `fecha` datetime NOT NULL DEFAULT current_timestamp(),
  `total` decimal(12,2) NOT NULL DEFAULT 0.00 CHECK (`total` >= 0),
  `comprobante` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_ventas_comprobante` (`comprobante`),
  KEY `fk_ventas_usuario` (`id_usuario`),
  KEY `idx_ventas_fecha` (`fecha`),
  KEY `idx_ventas_cliente` (`id_cliente`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

--
-- Volcado de datos para la tabla `ventas`
--


--
-- Restricciones para tablas volcadas
--

--
-- Filtros para la tabla `alquileres`
--
ALTER TABLE `alquileres`
  ADD CONSTRAINT `fk_alquileres_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id`) ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_alquileres_maquinaria` FOREIGN KEY (`id_maquinaria`) REFERENCES `maquinaria` (`id`) ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_alquileres_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON UPDATE CASCADE;

--
-- Filtros para la tabla `clientes`
--
ALTER TABLE `clientes`
  ADD CONSTRAINT `fk_clientes_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL ON UPDATE CASCADE;

--
-- Filtros para la tabla `detalle_venta`
--
ALTER TABLE `detalle_venta`
  ADD CONSTRAINT `fk_detalle_venta_producto` FOREIGN KEY (`id_producto`) REFERENCES `productos` (`id`) ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_detalle_venta_venta` FOREIGN KEY (`id_venta`) REFERENCES `ventas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE;

--
-- Filtros para la tabla `logs`
--
ALTER TABLE `logs`
  ADD CONSTRAINT `fk_logs_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL ON UPDATE CASCADE;

--
-- Filtros para la tabla `ventas`
--
ALTER TABLE `ventas`
  ADD CONSTRAINT `fk_ventas_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id`) ON UPDATE CASCADE,
  ADD CONSTRAINT `fk_ventas_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON UPDATE CASCADE;

DELIMITER $$
--
-- Eventos
--
DROP EVENT IF EXISTS `ev_actualizar_alquileres_vencidos`$$
CREATE DEFINER=`root`@`localhost` EVENT `ev_actualizar_alquileres_vencidos` ON SCHEDULE EVERY 1 MINUTE STARTS '2026-04-25 15:58:06' ON COMPLETION NOT PRESERVE ENABLE DO BEGIN
    UPDATE alquileres
    SET estado = 'vencido'
    WHERE estado = 'activo'
      AND fecha_fin < CURDATE();
END$$

DROP EVENT IF EXISTS `ev_generar_alertas_dashboard`$$
CREATE DEFINER=`root`@`localhost` EVENT `ev_generar_alertas_dashboard` ON SCHEDULE EVERY 1 MINUTE STARTS '2026-04-25 15:58:06' ON COMPLETION NOT PRESERVE ENABLE DO BEGIN
    INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
    SELECT NULL,
           'ALERTA_STOCK_BAJO',
           'productos',
           p.id,
           JSON_OBJECT(
               'nombre', p.nombre,
               'stock_actual', p.stock_actual,
               'stock_minimo', p.stock_minimo,
               'color', 'rojo',
               'accion_sugerida', 'Reabastecer producto'
           ),
           NULL
    FROM productos p
    WHERE p.activo = 1
      AND p.stock_actual < p.stock_minimo
      AND NOT EXISTS (
          SELECT 1
          FROM logs l
          WHERE l.accion = 'ALERTA_STOCK_BAJO'
            AND l.id_registro = p.id
            AND DATE(l.fecha) = CURDATE()
      );

    INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
    SELECT NULL,
           'ALERTA_ALQUILER_POR_VENCER',
           'alquileres',
           a.id,
           JSON_OBJECT(
               'cliente', c.nombre,
               'maquinaria', m.nombre,
               'fecha_fin', a.fecha_fin,
               'color', 'amarillo',
               'accion_sugerida', 'Contactar cliente para devolucion'
           ),
           NULL
    FROM alquileres a
    INNER JOIN clientes c ON c.id = a.id_cliente
    INNER JOIN maquinaria m ON m.id = a.id_maquinaria
    WHERE a.estado = 'activo'
      AND DATEDIFF(a.fecha_fin, CURDATE()) BETWEEN 0 AND 2
      AND NOT EXISTS (
          SELECT 1
          FROM logs l
          WHERE l.accion = 'ALERTA_ALQUILER_POR_VENCER'
            AND l.id_registro = a.id
            AND DATE(l.fecha) = CURDATE()
      );

    INSERT INTO logs (id_usuario, accion, tabla_afectada, id_registro, detalle, ip_origen)
    SELECT NULL,
           'ALERTA_ALQUILER_VENCIDO',
           'alquileres',
           a.id,
           JSON_OBJECT(
               'cliente', c.nombre,
               'maquinaria', m.nombre,
               'fecha_fin', a.fecha_fin,
               'color', 'rojo',
               'accion_sugerida', 'Alquiler vencido - Contactar urgente'
           ),
           NULL
    FROM alquileres a
    INNER JOIN clientes c ON c.id = a.id_cliente
    INNER JOIN maquinaria m ON m.id = a.id_maquinaria
    WHERE a.estado = 'vencido'
      AND NOT EXISTS (
          SELECT 1
          FROM logs l
          WHERE l.accion = 'ALERTA_ALQUILER_VENCIDO'
            AND l.id_registro = a.id
            AND DATE(l.fecha) = CURDATE()
      );
END$$

DELIMITER ;
COMMIT;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
